<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/vue.js"></script>
</head>
<body>
    <div id="box">
        <input type="text" name="" id="" v-model="msg">
        {{msg}}
        <input type="radio" value="男" v-model="user.sex">男
        <input type="radio" value="女" v-model="user.sex">女
        {{user.sex}}
    </div>
</body>
<script src="">
    let vm = new Vue({
        el:"#box",
        data:{
            msg:"holle",
            user:{
                sex:"女"
            }
        },
    })
</script>
</html>